:root {
    --mainLightGrey : rgb(32, 45, 54);
    --accentLightGrey : rgb(177, 177, 177);
    --smallText : rgb(255, 255, 255) ;
    --recivedMessage:rgb(32, 45, 54);
    --sentMessage:rgb(0, 150, 136);
    --chatListBackground : rgb(17, 30, 39);
    --nameColor :  white;
    --notificationBackground: rgb(92, 141, 163);
    --hoverIcons : white;
    --thumbsBackground: white;
    --thumbsBorder: black ;
}

.main-wrapper {
    background: rgb(217,219,212);
    background: linear-gradient(0deg, rgb(14, 14, 14) 85%, rgba(0,150,136,1) 85%);
}

.conversation-container {
    background-image: url(../img/mineDark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}