  /******************* RIGHT CHAT CONTAINER STYLE *******************/

  /**** CONTACT INFO ****/
.contact-info{
    height: 70px;
    background-color: var(--mainLightGrey);
    display: flex;
}

/* user avatar */
.contact-info .user-avatar {
    height: 100%;
    width: 10%;
    text-align: center;
    padding: 5px;
}

/* user info */
.contact-info .user-info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
}

.contact-info .user-info span:first-child{
    color: var(--nameColor);
    font-weight: 600;
}

.contact-info .user-info span:last-child {
    color: var(--smallText);
    font-size: .9rem;
}

/* icons container */
.contact-info .icons-container{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    gap: 20px;
}

.contact-info .icons-container i{
    font-size: 1.5rem;
    color: var(--accentLightGrey);
}

.contact-info .icons-container i:hover {
    color: var(--hoverIcons);
    transform: scale(1.1);
}

.contact-info .icons-container .dropdown-icon {
    color: var(--smallText);
    cursor: pointer;
}

.contact-info .icons-container .dropdown-menu {
    left: -195px !important;
    width: 200px;
    padding: 5px;
}

.contact-info .icons-container .dropdown-menu li {
    padding: 10px !important;
}

.contact-info .icons-container .dropdown-menu li:hover {
    background-color: var(--hoverDropdown);
    border-radius: 10px;
}

.contact-info .icons-container .dropdown-menu li:last-child:hover {
    color: var(--warnColor);
}

.contact-info .icons-container .dropdown-icon i:hover {
    color: var(--warnColor);
}
/********************
 CONVERSATION CONTAINER 
 ********************/
.conversation-container{
    height: calc(100% - (70px + 70px));
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--chatListBackground);
}

.conversation-container .message {
    background-color:var(--recivedMessage);
    margin: 10px 50px;
    padding: 15px 20px 5px 15px;
    width: 20%;
    border-radius: 10px;
    position: relative;
    min-width: 300px;
    word-wrap: break-word;
    color: var(--nameColor);
    box-shadow: 1px 1px 3px rgba(200, 200, 200, .5);
}

.conversation-container .message.sent{
    background-color: var(--sentMessage);
    align-self: flex-end;
    box-shadow: -1px 1px 3px rgba(200, 200, 200, .5);
}

.conversation-container .message-date {
    display: block;
    text-align: end;
    font-size: .7rem;
    color: var(--smallText);
}

.conversation-container .message-date > span {
    font-weight: 600;
    animation-name: changeColor;
    animation-duration: 1s;
    color: rgb(40, 174, 252);
    animation-timing-function: ease-in-out;
}

@keyframes changeColor {
    0% {
        color : var(--smallText);
    }
    100% {
        color: var(--smallText);
    }
}
/* DROPDOWN MENU */

.conversation-container .message .dropdown-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--smallText);
    cursor: pointer;
}

.conversation-container .message .dropdown-menu {
    padding: 5px;
}

.conversation-container .message .dropdown-menu li {
    padding: 10px !important;
    border-radius: 10px;
}

.conversation-container .message .dropdown-menu li:hover {
    background-color: var(--hoverDropdown);
}



/*****************
 SEND MESSAGE ACTION 
 *****************/
.send-message-section{
    height: 70px;
    background-color: var(--mainLightGrey);
    display: flex;
}

.send-message-section .message-icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message-section .message-icon i {
    font-size: 1.5rem;
    color: var(--smallText);
}

.send-message-section .message-icon:first-child i:hover {
    font-size: 1.5rem;
    color:orange;
}

.send-message-section .message-icon:last-child i:hover {
    font-size: 1.5rem;
    color:red;
}

.send-message-section .message-input {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.send-message-section .message-input input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}