* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100%;
}

.b1 {
    border: 1px solid black;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
 }

 /******************* MAIN STYLE *******************/

.main-wrapper {
    height: 100vh;
    background: rgb(217,219,212);
    background: linear-gradient(0deg, rgba(217,219,212,1) 85%, rgba(0,150,136,1) 85%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: bisque;
    width: 80%;
    height: 95%;
    display: flex;
}

.left-aside{
    width: 35%;
    height: 100%;
    color: black;
}

.right-chat-container{
    width: 65%;
    height: 100%;
    color: black;
}

 /******************* LEFT ASIDE STYLE *******************/

 /****** PERSONAL-INFO ******/
 .personal-info{
     height: 70px;
     background-color: rgb(234, 234, 234);
     display: flex;
     justify-content: space-between;
     padding: 5px;
     border-right: 2px solid rgb(255, 0, 0);
    }

.personal-info .avatar-container{
    width: 50%;
}

.personal-info .avatar-container span {
    margin-left: 10px;
}

.personal-info .icons-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.personal-info .icons-container i {
    font-size: 1.5rem;
    color: rgb(177, 177, 177);
}

/****** TOGGLE MESSAGE NOTIFICATION ******/
 .toggle-message-notification{
    height: 80px;
    background-color:rgb(142, 218, 252);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 8px;
 }

 .toggle-message-notification .notification-bell-icon {
    background-color: rgb(242, 251, 255);
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .toggle-message-notification .notification-bell-icon i {
    font-size: 1.3rem;
    color: rgb(142, 218, 252);
    padding: 12px;
 }

 .toggle-message-notification .notification-messages span:first-child{
    display: block;
    font-weight: 600;
 }

 .toggle-message-notification .notification-messages span:last-child{
    display: block;
    font-size: .9rem;
    color: grey;
    text-decoration: underline;
 }

/****** SEARCH CHAT INPUT ******/
 .search-chat-input{
    height: 50px;
    background-color:rgb(234, 234, 234);
 }

/****** CONVERSATION LIST ******/
 .conversation-list{
    height: calc(100% - (50px + 80px + 70px));
    background-color: aquamarine;
    overflow-y: scroll;
 }

  /******************* RIGHT CHAT CONTAINER STYLE *******************/

  .contact-info{
    height: 70px;
    background-color: rgb(234, 234, 234);
}

.conversation-container{
    height: calc(100% - (70px + 70px));
    background-image: url(../img/mine.jpg);
}

.send-message-section{
    height: 70px;
    background-color: rgb(234, 234, 234);
}